.layer1 {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	height: 200px;
	width: 500px;
	background-color: #gdf;
	margin: 7px;
}

.layer2 {
	width: 50%;
	background-color: #gdf;
	margin: 5px;
}

.fun1 {
	width: 50px;
	height: 50px;
	border-width: 3px;
	border-color: purple;
	border-style: solid;
	border-radius: 15px;
}

.fun2 {
	width: 50px;
	height: 50px;
	border-width: 3px;
	border-color: purple;
	border-style: dotted;
	border-radius: 20px 20px 5px 5px;
}

.fun3 {
	width: 50px;
	height: 50px;
	border-width: 3px;
	border-color: purple;
	border-style: dashed;
	border-radius: 100px;
}

.d1 {
	border-color: red;
	border-width: 10px;
	height: 150px;
	width: 150px;
	border-style: solid;
	border-radius: 200px;
}

.d2 {
	margin: 15px;
	border-color: red;
	border-width: 10px;
	border-style: solid;
	width: 100px;
	height: 100px;
	border-radius: 200px;
}

.d3 {
	margin: 15px;
	border-color: red;
	border-width: 10px;
	border-style: solid;
	width: 50px;
	height: 50px;
	border-radius: 200px;
}

#menu li {
	width: 150px;
	padding: 7px 30px;
	margin: 10px;
}

#flex-container {background: rgb(0, 150, 208); display: flex; height: 20%; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: center; }
#flex-container > div {background: rgb(241, 101, 41); border: 1px solid; width: 40%; height: 200px; margin: 0px; padding: 0px; }